<mat-table [dataSource]="events"  class="mat-elevation-z8">

    <ng-container matColumnDef="date">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>